body {
	background-color: #D7DBDD;
	font-family: sans-serif;
}

.container_16 {
	margin-top: 10px;
}

.logo {
	font-size: 20px;
}

.left {
	margin-left: 20%;
}
/*customizing that list on the bottom */
.right {
	margin-right: 30%;
	margin-top: 10px;
	text-align: center;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}
/*enf of that list customization*/
.center {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 10%;
	margin-bottom: 10%;
}

table {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

#main-bar {
	padding-top: 2%;
	padding-bottom: 2%;
	min-height: 110%;
	background-color: #0ffcc0;
}
/***********************************/
/*********** Blockquotes ***********/
/***********************************/
blockquote p:before {
	content: '"';
	font-size: 20px;
}

blockquote p:after {
	content: '"';
	font-size: 20px;
}

/***********************************/
/*************** END ***************/
/***********************************/
.post {
	border-radius: 8px;
	border-style: none;
	margin-top: 20px;
	background-color: white;
	border-bottom-right-radius: 37px;
	border-bottom-left-radius: 37px;
}

.profile .post {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 89.5%;
}

.header {
	font-size: 20px;
	font-family: sans-serif;
}

/***********************************/
/************* Pictures ************/
/***********************************/
.picture img {
	border: solid 2px #616A6B;
	margin-top: 5px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

.picture img:hover {
	border: solid 2px #CCD1D1;
	cursor: pointer;
}

.picture a:before {
	content: "@";
}

.picture a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.picture a:hover {
	color: grey;
	cursor: pointer;
}
/***********************************/
/*************** END ***************/
/***********************************/
.logo h1 {
	margin-top: 12px;
}

.header a {
	font-weight: bold;
	font-family: sans-serif;
	color: white;
}

.header a:hover {
	color: grey;
	text-decoration: underline;
}
/***********************************/
/************** inputs *************/
/***********************************/
.btn-search, .input-group {
	height: 30px;
	border-radius: 3px;
	border: none;
}

.btn-search {
	width: 100px;
	margin-left: 0%;
	background: #212F3C;
	color: #E1E1E1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: -10px;
}

.btn-search:hover {
	background: #ECF0F1;
	border-left: none;
	color: black;
	cursor: pointer;
}

.input-group {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #ECF0F1;
	width: 40%;
}

.groups {
	background: white;
	width: 20%;
}

textarea {
	width: 50%;
	height: 20%;
	resize: none;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border: none;
	text-align: center;
}

.btn {
	width: 50%;
	height: 30px;
	border: none;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom: solid 01px #CCD1D1;
}

.btn:hover {
	background: #03608A;
}

.btn-right {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 8px;
	/*border-left: solid 1px black;
*/
}

.btn-mid {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.btn-left {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 8px;
	/*border-right: solid 1px black;
*/
}

.btn-right, .btn-mid, .btn-left {
	width: 33.33%;
	margin: -3px;
	border-bottom: solid 01px #CCD1D1;
}
/***********************************/
/*************** END ***************/
/***********************************/
.has-border {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.welcome-msg {
	padding-left: 30px;
}